.javers-navbar {
    background: #f8f8f8 !important;
    border-bottom: 1px solid #e7e7e7 !important;

}

.javers-navbar-font-color {
    color: #3d7ac6 !important;
}

.javers-font-color-blue {
    color: #182a72;
}