@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("http://fonts.gstatic.com/s/roboto/v14/Pru33qjShpZSmG3z6VYwnT8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto Regular"), local("Roboto-Regular"), url("http://fonts.gstatic.com/s/roboto/v14/Xyjz-jNkfiYuJf8UC3Lizw.woff") format("woff");
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url("http://fonts.gstatic.com/s/roboto/v14/7KXg6nyyqN8gyMoNwQ7aOQ.woff") format("woff");
}

body, html {
    height: 100%;
    width: 100%;
    position: relative;
    color: black;
}

body, a, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 300;
}

a {
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    margin: 40px 0px 20px;
    font-weight: 300;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 20px;
}

b, strong {
    font-weight: 500;
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    text-align: center;
}

.intro-header img {
    padding: 4%;
}

.intro-message {
    text-align: center;
    padding: 20px;
}

.intro-message hr {
    width: 90%;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid #e7e7e7;
}

.intro-message ul {
    list-style: none;
}

@media (max-width: 767px) {

    .intro-message > h1 {
        font-size: 1.7em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

body > section {
    border-bottom: 1px solid #e7e7e7;
}

body > section:nth-child(odd) {
    background-color: #f8f8f8;
}

body > section {
    padding-top: 50px;
    padding-bottom: 20px;
}

body > section h2 {
    margin-bottom: 30px;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media (max-width: 1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media (max-width: 767px) {
    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    background-color: #fff;
    padding: 50px 0;
}

p.copyright {
    margin: 15px 0 0;
}