/* Global styles */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Oxygen', sans-serif;
    padding-top: 60px;
    margin-bottom: 58px;
}

p {
    color: #222;
}

a, a:hover, a:active {
    color: #ea4d1a;
    text-decoration: none;
}

code {
    background: transparent;
    padding-right: 0;
    color: #111;
    font-size: 0.95em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: auto;
}

pre code {
    word-wrap: normal;
    font-size: 12px;
}

.blogPost h2 {
    margin-top: 5px;
}

.blogPost  {
    border-bottom: 1px solid rgba(0,0,0,.09);
    margin-top: 25px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.blogPost a:hover, a:active  {
    color: #ea4d1a;
    text-decoration: none;
}

.postHeader {
    margin-bottom: 10px;
}

.postHeader time {
    color: darkgrey;
}

#main li {
    word-wrap: break-word;
}

.highlight pre {
    font-size: 0.8em;
}

.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-javers {
    border: none;
    background: white;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: transparent;
}

.in {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: black;
}
.navbar-inverse .navbar-toggle {
    margin-top:12px;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: white;
}

.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a {
    background: transparent;
    color: #EA4D1A;
}

.navbar-javers .navbar-nav > li.active > a {
    border-bottom: solid 2px #ea4d1a;
    background: transparent;
    color: #EA4D1A;
}

.navbar-javers .navbar-nav > li.active > a:hover,
.navbar-javers .navbar-nav > li > a:hover {
    color: #ea4d1a;
    text-decoration: none;
    background: transparent;
}

.navbar-javers .navbar-nav > li > a {
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    padding-bottom: 5px;
    margin-bottom: 15px;
    padding-right: 4px;
    padding-left: 4px;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    color: black;
}

.navbar-javers .navbar-brand img {
    height: 28px;
}

.navbar-nav > li > .dropdown-menu {
    border: none;
}

.logo-version:active {
    color: black;
}

.logo-version {
    margin-top: 17px;
    font-size: 1.6em;
    float: right;
    text-decoration: none;
}

.hero-container {
    background: #1a1f25 url(../img/beans_c.jpg) center center repeat-x;
}

.hero {
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-weight: 300;
    margin-bottom: 20px;
}

.hero p {
    color: #DDD;
    margin: 0 0 5px;
}

.feature a {
    text-decoration: none;
}

.feature h2 {
    font-size: 24px;
    color: #ee6c21;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.feature:hover h2 {
    color: #000;
}

.icon-container {
    display: table;
    margin: 0 auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.feature .icon-container {
    border: 3px solid #ee6c21;
    color: #ee6c21;
}

.feature:hover .icon-container {
    border-color: #ee6c21;
    background-color: #ee6c21;
    color: #000;
}

.icon-container .icon {
    font-size: 48px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}

.social {
    text-align: center;
    padding: 25px;
}

.social .icon-container {
    border: 3px solid #000;
    color: #000;
}

.social:hover .icon-container {
    border: 3px solid #ee6c21;
    color: #ee6c21;
}

.social h2 {
    font-size: 18px;
    color: #000;
}

.social h2 span {
    color: #ee6c21;
}

.social h3 {
    font-size: 16px;
    color: #ee6c21
}

.white-container {
    padding: 20px 0;
}

h3.black-header {
    background-color: #181d23;
    color: #fff;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

#why-javers .row {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

#why-javers .row > div {
    text-align: center;
    background-color: #fff;
    padding: 25px 0;
}

#why-javers .row > div > span {
    display: inline-block;
    border-radius: 100%;
    background-color: #3c79b2;
    width: 75px;
    height: 75px;
    padding: 12px;
    margin-right: 15px;
}

#why-javers .row > div > h4 {
    margin-top: 5px;
    display: inline-table;
    vertical-align: middle;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.grey-container {
    background-color: #f9f9f9;
    padding-bottom: 40px;
    padding-top: 40px;
}

.console {
    border-radius: 0;
    color: #fff;
    display: block;
    padding: 20px 20px 20px 60px;
    line-height: 2em;
    font-family: monospace;
    background: #23527c url('../img/prompt.png') no-repeat 5% center;
}

section.dark {
    background-color: #1a1f25;
    color: #fff;
}

section.dark > h2 {
    text-transform: uppercase;
}

section.dark > h3 {
    text-transform: uppercase;
}

section.dark #team > ul li {
    height: 60px;
}

section.dark #team > ul li img.profile-img {
    width: 48px;
    height: 48px;
    margin: 0 15px 0 0;
    border-radius: 50%;
    float: left;
}

section.dark #team ul li strong {
    font-size: 1.2em;
}

section.dark #team ul li small {
    color: #707e8b;
    padding-right: 12%;
}

section.dark ul#releases li {
    line-height: 2.2em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 58px;
    background-color: #fff;
    padding: 10px;
}

footer p {
    text-align: center;
    color: #fff;
}

footer p img {
    padding: 5px;
    height: 28px;
}

#team {
    padding: 10px;
}

body.page section header {
    background-color: #232a30;
}

body.page section #main {
    padding-right: 35px;
    padding-bottom: 35px;
    padding-top: 5px;
    font-size: 1.1em;
}

body.page section #main h1 {
    font-size: 2.2em;
    text-transform: uppercase;
}

body.page section #content #main h2 {
    color: #708494;
    font-size: 1.8em;
}

body.page section #content #main h3 {
    color: #708494;
    font-size: 1.3em;
}

body.page section #content #main h4 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 15px;
}

body.page section #content #main h5 {
    font-size: 1em;
    margin-top: 12px;
    margin-bottom: 5px;
}

body.page section #content #main h4:before,
body.page section #content #main h3:before,
body.page section #content #main h2:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}

body.page section #content #main blockquote {
    background-color: #3d79b4;
    padding: 20px;
    border: none;
    color: #fff;
    margin: 10px 0;
    font-size: 1.1em;
}

#sidebar > div {
    margin-top: 20px;
    border-left: 1px solid #dde0e2;
}

#sidebar .affix {
    position: fixed !important;
}

body.page section #sidebar section {
    padding-left: 15px;
    padding-bottom: 2px;
    padding-right: 0px;
}

body.page section #sidebar section a {
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: 300;
    color: #3d79b4;
    padding-left: 15px;
    padding-right: 0px;
}

body.page section #sidebar section a.active {
    border-left: solid 2px #ea4d1a;
    padding-left: 13px;
}

body.page section #sidebar section a:hover {
    background: transparent;
    color: #ee6c21;
    text-decoration: none;
}

body.page section #sidebar section ul {
    line-height: 1.8em;
}

body.page section #sidebar section li {
    line-height: 160%;
    padding-left: 10px;
}

body.page section #sidebar section li.nested {
    line-height: 140%;
    font-size: 1em;
    padding-left: 35px;
}

body.page section #sidebar section li.nested a {
    display: inline;
    padding-left: 3px;
}

body.page section #sidebar section ul li a {
    font-size: 1.1em;
    color: #333;
    font-weight: 300;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

body.page section #sidebar section ul li a:hover {
    background: transparent;
    color: #ee6c21;
    text-decoration: none;
}

body.page section #sidebar section ul li.active {
    border-left: 2px solid #ee6c21;
    padding-left: 8px;
}

body.page section #sidebar section ul li.nested.active {
    border-left: 2px solid #ee6c21;
    padding-left: 33px;
}

/* Small devices (tablets, 768px and down) */
@media (max-width: 767px) {

    .navbar-javers .logo-version {
        float: none;
        display: inline-block;
    }

    .navbar-javers {
        margin-bottom: 0;
        height: 60px;
    }

    .navbar-javers .navbar-collapse {
        background: #fff;
    }

    .hero {
        padding: 20px 5px;
    }

    .hero h1 {
        font-size: 1.3em;
    }

    .hero p {
        font-size: 0.8em;
    }

    #why-javers .row > div > span {
        margin-right: 0;
    }

    #why-javers .row > div > h4 {
        font-size: 0.7em;
    }

    h3.black-header {
        font-size: 0.85em;
        padding: 10px;
    }

    .console {
        font-size: 0.6em;
        padding: 20px;
    }
}

/* Medium devices (desktops, 992px and down) */
@media (min-width: 768px) {

    .hero {
        padding: 20px 5px;
    }

    .hero h1 {
        font-size: 2.5em;
    }

    .hero p {
        font-size: 0.9em;
    }

    h3.black-header {
        font-size: 1.1em;
        padding: 10px;
    }

}

/* Large devices (large desktops, 1200px and down) */
@media (min-width: 1200px) {
    .hero {
        padding: 80px 15px;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero p {
        font-size: 1.3em;
    }

    h3.black-header {
        font-size: 1.5em;
        padding: 15px;
    }

}

li.github-user {
    display: inline-block;
}

li.github-user img {
    width: 96px;
    border-radius: 50%;
    margin: 12px;
    display: block;
}

li.github-user a {
    display: block;
    text-align: center;
}
