<div class="docs-sidebar hidden-print hidden-xs hidden-sm affix" role="complementary">
    <ul class="nav docs-sidenav">
        <li>
            <a href="#gettingstarted">Getting Started</a>
            <ul class="nav">
                <li><a href="#whatisjavers">What is JaVers</a></li>
                <li><a href="#featuresoverview">Features overview</a></li>
                <li><a href="#quickstartguide">Quick-start guide</a></li>
            </ul>
        </li>
        <li>
            <a href="#userguide">User Guide</a>
            <ul class="nav">
                <li><a href="#configuration">Configuration</a></li>
                <li><a href="#modelmapping">Model Mapping</a></li>
            </ul>
        </li>
    </ul>
</div>