<section>
    <h2>
        <a href="/documentation">
            Introduction
        </a>
    </h2>
    <ul class="nav nav-stacked list-unstyled {% if page.submenu != 'introduction' %} hidden {% endif %}">
        <li><a href="#what-is-javers">What is JaVers</a></li>
        <li><a href="#story">Story</a></li>
        <li><a href="#basic-facts-about-javers">Basic facts about JaVers</a></li>
    </ul>
</section>

<section>
    <h2>
        <a href="/documentation/features-overview">
            Features overview
        </a>
    </h2>
    <ul class="nav nav-stacked list-unstyled {% if page.submenu != 'features-overview' %} hidden {% endif %}">
        <li><a href="#object-diff">Object diff</a></li>
        <li><a href="#javers-repository">Javers Repository</a></li>
        <li><a href="#json-serialization">JSON Serialization</a></li>
    </ul>
</section>

<section>
    <h2>
        <a href="/documentation/getting-started">
            Getting Started
        </a>
    </h2>
    <ul class="nav nav-stacked list-unstyled {% if page.submenu != 'getting-started' %} hidden {% endif %}">
        <li><a href="#get-javers">Get JaVers</a></li>
        <li><a href="#create-javers-instance">Create JaVers instance</a></li>
    </ul>
</section>

<section>
    <h2>
        <a href="/documentation/diff-examples">
            Examples &mdash; Diff
        </a>
    </h2>
    <ul class="nav nav-stacked list-unstyled {% if page.submenu != 'diff-examples' %} hidden {% endif %}">
        <li><a href="#compare-entities">Compare Entities</a></li>
        <li><a href="#compare-valueobjects">Compare Value Objects</a></li>
        <li><a href="#compare-graphs">Compare graphs</a></li>
    </ul>
</section>

<section>
    <h2>
        <a href="/documentation/repository-examples">
            Examples &mdash; Repository
        </a>
    </h2>
    <ul class="nav nav-stacked list-unstyled {% if page.submenu != 'repository-examples' %} hidden {% endif %}">
        <li><a href="#commit-changes">Commit changes</a></li>
        <li><a href="#read-snapshots-history">Read snapshots history</a></li>
        <li><a href="#read-changes-history">Read changes history</a></li>
        <li><a href="#json-type-adapter">JSON TypeAdapter for ObjectId</a></li>
    </ul>
</section>

<section>
    <h2>
        <a href="/documentation/configuration">
            Configuration
        </a>
    </h2>
    <ul class="nav nav-stacked list-unstyled {% if page.submenu != 'configuration' %} hidden {% endif %}">
        <li><a href="#domain-model-mapping">Domain model mapping</a></li>
        <li><a href="#mapping-configuration">Mapping configuration</a>
        <li><a href="#supported-annotations">&nbsp; &nbsp; Supported annotations</a>
        <li><a href="#entity-id-property">&nbsp; &nbsp; Entity Id property</a>
        <li><a href="#property-mapping-style">&nbsp; &nbsp; Property mapping style</a>
        </li>
        <li><a href="#repository-setup">JaversRepository setup</a></li>
        <li><a href="#custom-json-serialization">&nbsp; &nbsp; Custom JSON
            serialization</a>
        <li><a href="#json-type-adapters">&nbsp; &nbsp; JSON TypeAdapters</a>
    </ul>
</section>

<section>
    <h2>
        <a href="/documentation/javers-internals">JaVers internals</a>
    </h2>
    <ul class="nav nav-stacked list-unstyled {% if page.submenu != 'javers-internals' %} hidden {% endif %}">
        <li><a href="#type-mapper">TypeMapper</a></li>
    </ul>
</section>