{% assign current = page.url | downcase | split: '/' %}
{% assign currentSubPage = current[2] %}


<section>
  <a {% if currentSubPage == 'features' %}class='active'{% endif %} href="/features">
  Features overview</a>
  <ul class="nav nav-stacked list-unstyled {% if page.submenu != 'features' %} hidden {% endif %}">
    <li><a href="#object-diff">Object diff</a></li>
    <li><a href="#javers-repository">Javers Repository</a></li>
    <li><a href="#json-serialization">JSON Serialization</a></li>
  </ul>
</section>