<footer>
    <div class="container">
        <div class="row">
            <p class="col-md-12" style="color: black">
                <img alt="JaVers logo small" src="/img/logotype.svg?timestamp={{ site.time | date: '%s' }}"/>
                <br/>
                Open source Java library available under
                <a href="https://www.apache.org/licenses/LICENSE-2.0">
                    Apache License
                </a>
                <br/>
            </p>
        </div>
    </div>
</footer>

<script src="/js/social-buttons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");
</script>

<!-- Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-53137815-1', 'auto');
    ga('send', 'pageview');

</script>


<script>
    var fullPage = window.location.toString().indexOf('fullPage') !== -1;
    var showCloseButton = window.location.toString().indexOf('showCloseButton') !== -1;

    var DIGITAL_CLIMATE_STRIKE_OPTIONS = {
        forceFullPageWidget: fullPage,
        showCloseButtonOnFullPageWidget: showCloseButton
    };
</script>
<script src="https://assets.digitalclimatestrike.net/widget.js" async></script>