{% assign current = page.url | downcase | split: '/' %}

<nav class="navbar navbar-inverse navbar-fixed-top navbar-javers">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img alt="JaVers logo" src="/img/logotype.svg?timestamp={{ site.time | date: '%s' }}"/>
            </a>
            <a class="logo-version" href="https://central.sonatype.com/artifact/org.javers/javers-core/{{site.javers_current_version}}/versions" >
                {{site.javers_current_version}}
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">

                <li {% if page.url contains '/features' %}class='active'{% endif %}>
                <a href="/features">Features</a>
                </li>

                <!--
                <li {% if page.url contains '/blog' %}class='active'{% endif %}>
                <a href="/blog">Blog</a>
                </li>-->

                <li {% if page.url contains '/support' %}class='active'{% endif %}>
                <a href="/support">Support</a>
                </li>

                <li {% if page.url contains '/sponsorship' %}class='active'{% endif %}>
                <a href="/sponsorship">Sponsorship</a>
                </li>

                <li class="dropdown {% if page.url contains '/documentation/' %}active{% endif %}">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">Documentation <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/documentation/">Overview</a></li>
                        <li><a href="/documentation/getting-started/">Getting Started</a></li>
                        <li><a href="/documentation/diff-examples/">Examples &mdash; Diff</a></li>
                        <li><a href="/documentation/repository-examples/">Examples &mdash; Repository</a></li>
                        <li><a href="/documentation/jql-examples/">Examples &mdash; JQL</a></li>
                        <li><a href="/documentation/domain-configuration/">Configuration &mdash; Domain</a></li>
                        <li><a href="/documentation/repository-configuration/">Configuration &mdash; Repository</a></li>
                        <li><a href="/documentation/diff-configuration/">Configuration &mdash; Diff</a></li>
                        <li><a href="/documentation/spring-integration/">Spring integration</a></li>
                        <li><a href="/documentation/spring-boot-integration/">Spring Boot integration</a></li>
                        <li><a  href="/blog/2017/12/javers-vs-envers-comparision.html">JaVers Vs Envers Comparision </a></li>
                    </ul>
                </li>

                <li {% if page.url contains '/release-notes' %}class='active'{% endif %}>
                    <a href="/release-notes">Release notes</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
