<div class="shareThis">
    SHARE THIS:
</div>

<div class="social-sharing is-clean" data-permalink="http://labs.carsonshold.com/social-sharing-buttons">

    <!-- https://dev.twitter.com/docs/intents -->
    <a target="_blank" href="https://twitter.com/intent/tweet?url={{site.url}}{{page.url}}&amp;text={{page.title}} by @javers_org"
       class="share-twitter">
        <span class="icon icon-twitter" aria-hidden="true"></span>
        <span class="share-title">Tweet</span>
    </a>

    <!-- https://www.reddit.com/buttons -->
    <a target="_blank" href="http://www.reddit.com/submit?url={{site.url}}{{page.url}}&amp;title={{page.title}} by @javers_org"
       class="share-reddit">
        <span class="icon icon-reddit" aria-hidden="true"></span>
        <span class="share-title">Reddit</span>
    </a>

    <!-- https://developers.google.com/+/web/share/ -->
    <a target="_blank" href="http://plus.google.com/share?url={{site.url}}{{page.url}}"
       class="share-google">
        <span class="icon icon-google" aria-hidden="true"></span>
        <span class="share-title">Google</span>
    </a>

    <!-- https://developers.facebook.com/docs/plugins/share-button/ -->
    <a target="_blank" href="http://www.facebook.com/sharer.php?u={{site.url}}{{page.url}}"
       class="share-facebook">
        <span class="icon icon-facebook" aria-hidden="true"></span>
        <span class="share-title">Fb</span>
    </a>
</div>