<!DOCTYPE html>
<html lang="en">

<html>
<head>
    {% include head.html %}
    <link href="/css/documentation.css" rel="stylesheet">
</head>
<body data-spy="scroll" data-target=".javers-navbar">

{% include menus.html %}
<section id="documentation" class="container">
    <div class="row">
        <div class="col-md-9 well">
            {% include content.html %}
        </div>
        <div class="col-md-3">
            {% include docs-sidebar.html %}
        </div>
    </div>
</section>

{% include footer.html %}
</body>
</html>