<!DOCTYPE html>
<html lang="en">
<head>
    {% assign titleSuffix = " — JaVers Documentation" %}
    {% include head.html %}
</head>
<body class="page" data-spy="scroll" data-target="#sidebar">
{% include menus.html %}

<section>
    <div id="content" class="container">
        <div class="row">
            <div id="main" class="col-md-8" itemscope itemtype="http://schema.org/TechArticle">
                <h1 itemprop="headline">{{ page.title }}</h1>
                {{ content }}
            </div>
            <div id="sidebar" class="col-md-4 visible-md visible-lg">
                <div data-spy="affix" data-offset-top="50" data-offset-bottom="50">
                    {% include docs-sidebar.html %}
                </div>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
</body>
</html>
