<!DOCTYPE html>
<html lang="en">
<head>
    {% assign titleSuffix = " — JaVers Documentation" %}
    {% include head.html %}
</head>
<body class="page" data-spy="scroll" data-target="#sidebar">
{% include navbar.html %}

<section >
    <div id="content" class="container">
        <div class="row">
            <div id="main" class="col-md-8" itemscope itemtype="http://schema.org/TechArticle">
                <meta itemprop="datePublished" content="2015-08-27T00:00:00+00:00"/>
                <meta itemprop="image" content="{{ site.url }}/img/logotype.png">

                <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <meta itemprop="name" content="Bartosz Walacik"/>
                    <meta itemprop="email" content="bartek@javers.org"/>
                </div>

                <h1 itemprop="headline">{{ page.title }}</h1>

                <div itemprop="articleBody">
                {{ content }}
                </div>

            </div>

            {% if page.sidebar-url %}
            <div id="sidebar" class="col-md-4 visible-md visible-lg">
                <div data-spy="affix" data-offset-top="50" data-offset-bottom="50">
                    {% include {{ page.sidebar-url }} %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% include footer.html %}
</body>
</html>
