<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body class="page" data-spy="scroll" data-target="#sidebar">
{% include navbar.html %}

<section >
    <div id="content" class="container">
        <div class="row">
            <div id="main" class="col-md-8" itemscope itemtype="http://schema.org/TechArticle">
                <meta itemprop="image" content="{{ site.url }}/img/logotype.png">

                {% unless page.author %}
                <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <meta itemprop="name" content="Bartosz Walacik"/>
                </div>
                {% endunless %}

                {% unless page.date %}
                <meta itemprop="datePublished" content="2017-01-01T00:00:00+00:00"/>
                {% endunless %}

                <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                    <meta itemprop="name" content="javers.org"/>
                </div>

                <h1 itemprop="headline">{{ page.title }}</h1>

                {% if page.date  %}
                <div class="postHeader">
                    <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <span itemprop="name">{{ page.author }}</span>
                    </div>

                    <time itemprop="datePublished"
                          datetime="{{ page.date }}">{{ page.date | date: "%b %-d %Y" }}</time>
                </div>
                {% endif %}

                <div itemprop="articleBody">
                    {{ content }}
                </div>
            </div>

            {% if page.sidebar-url %}
            <div id="sidebar" class="col-md-4 visible-md visible-lg">
                <div data-spy="affix" data-offset-top="50" data-offset-bottom="50">
                    {% include {{ page.sidebar-url }} %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% include footer.html %}
</body>
</html>
